html
  head
    title Dashboard
  body
    br
    h1(style='text-align:center;') Student Dashboard
    br
    br
    div(style='text-align: center; font-size:130%')
      h3 Welcome #{name}! What is it that you want to do? 
      br
      br
      a(href='/dashboard/courses') View all available courses
      br
      br
      a(href='/dashboard/register') Register for a course
      br
      br
      a(href='/dashboard/show_registered') View registered courses
      br
      br
      a(href='/dashboard/delist') De-list a course
      br
      br
      a(href='/dashboard/profile') View my profile
      br
      br
      a(href='/dashboard/logout') Logout