head
  title De-list a course
br
body(style='text-align:center;')
  h1 De-list a course
  br
  br
  h2 Hello #{name}! 
  h2 To view all the courses that you have registered, 
    a(href='/dashboard/show_registered') Click here
  br
  br
  form(action='/dashboard/delist_request', method='POST')
    h3 Enter the code for the course that you wish to de-list
    input(type='text', name='coursecode', placeholder='Course code ')
    br
    br
    br
    input(type='submit', style="margin:5px;")
    input(type='reset', style="margin:5px;")
  br
  br
  h2  
      a(href='/dashboard') Click here
      |  to go to your Dashboard!
  h2
        a(href='/dashboard/logout') Click here
        |  to Logout!