head
  title Student Course Registration System
br
br
div(style='text-align: center;')
  h1 Student Course Registration System
  h2 Login page
  br
  form(method='POST', action='/dashboard', style='font-size: 130%;')
    h4 Registration no. 
    input(type='text', name='regno', placeholder='Enter registration no. ')
    br
    br
    h4 Password
    input(type='password', name='password', placeholder='Enter password')
    br
    br
    br
    input(type='submit', style="margin:5px;")
    input(type='reset', style="margin:5px;")