head
  title Registration Successful!

body(style='text-align:center;')
  br
  h1 Registration Successful! :)
  br
  h2 Hello #{name}! 
  br
  br
  h2 You have successfully registered for the following course: 
  br
  table(style='margin-left: auto; margin-right: auto; text-align: center; font-size:130%')
    tr
      th Name: 
      td= data.name
    tr(style="height: 20px;")

    tr
      th Course Code: 
      td= data.code
    tr(style="height: 20px;")

    tr
      th Slot: 
      td= data.slot
    tr(style="height: 20px;")
  br
  br
  h2
    a(href='/dashboard/show_registered') Click here
    |  to see the updated list of your registered courses!
  br
  br
  h2
    a(href='/dashboard/') Click here
    |  to go to your Dashboard!